html {
  height: 100%;
  width: 100%;
  margin: 0px;
}


/* ****** MOBILE Max width: 600px****** */
@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }


}


/* ****** TABLET Min width: 600px****** */
@media only screen and (min-width:600px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0;
    background-color: lightblue;
    justify-content: center;
    grid-gap: 0px;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    background-color: lightgreen;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .homeTitle {
    grid-column: 2 / 4;
    background-color: hotpink;
    text-align: center;
    grid-row: 1;
  }

  .homeSubtitle {
    grid-column: 2 / 4;
    background-color: blue;
    text-align: center;
    grid-row: 2;
  }

  .homeParagraph {
    grid-column: 1 / span 5;
    background-color: chartreuse;
    text-align: center;
    grid-row: 3;
  }

  .icon1 {
    grid-column: 2;
    background-color: fuchsia;
    text-align: center;
    grid-row: 4;
  }

  .icon2 {
    grid-column: 3;
    background-color: lightyellow;
    text-align: center;
    grid-row: 4;
  }

  .icon3 {
    grid-column: 2;
    background-color: navy;
    text-align: center;
    grid-row: 5;
  }

  .imageCredits {
    grid-column: 1 / span 2;
    background-color: navy;
    text-align: center;
  }

  .feedback {
    grid-column: 3 / span 4;
    background-color: rosybrown;
    text-align: center;
  }

  body {
    background-color: orange;
  }
}


/* ****** DESKTOP Min width: 1200px****** */
@media only screen and (min-width:1200px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0;
    background-color: lightblue;
    justify-content: center;
    grid-gap: 0px;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0;
    background-color: lightgreen;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    padding: 0;
    background-color: firebrick;
  }

  .homeTitle {
    grid-column: 1 / span 5;
    background-color: hotpink;
    text-align: center;
  }

  .homeSubtitle {
    grid-column: 2 / 5;
    background-color: blue;
    text-align: center;
    grid-row: 2;
  }

  .homeParagraph {
    grid-column: 1 / span 5;
    background-color: chartreuse;
    text-align: center;
    grid-row: 3;
  }

  .icon1 {
    grid-column: 2;
    background-color: fuchsia;
    text-align: center;
    grid-row: 4;
  }

  .icon2 {
    grid-column: 3;
    background-color: lightyellow;
    text-align: center;
    grid-row: 4;
  }

  .icon3 {
    grid-column: 4;
    background-color: navy;
    text-align: center;
    grid-row: 4;
  }

  .imageCredits {
    grid-column: 1;
    background-color: navy;
    text-align: center;

  }

  .feedback {
    grid-column: 2;
    background-color: rosybrown;
    text-align: center;
  }

  body {
    background-color: blue;
  }
}